h1.logotype {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 100;
    margin: 0px auto;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.main {
    background-color: #ff9be8;
    padding-bottom: 70px;
    max-width: 1000px;
    margin: auto;
}

.status {
    text-align: center;
    height: 220px;
}

.stripe {
    background-color: rgba(255, 255, 255, 0.5);
    height: 170px;
    width: 100%;
}

.tools {
    width: 640px;
    margin: 0px auto;
    padding: 25px 0 0 0;
    list-style-type: none;
    overflow: hidden;
}

.tools li {
    border-left: 1px solid #fff;
    color: #fff;
    float: left;
    height: 122px;
    text-align: center;
    width: 160px;

}

.tools li:first-child {
    border-left: 0px;
}

.tools form {
    padding-top: 35px;
}

.tools .value {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: 800;
    line-height: 40px;
}

.tools .value img {
    margin-top: -15px;

}

.tools .value .unit {
    font-weight: 600;
    font-size: 20px;
}

.tools .label {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
    padding: 0 12px;
}


h4 {
    font-family: 'Raleway', sans-serif;
}

.grade-input {
    max-width:20px;
}

.cardo {
    background-color: rgba(255, 155, 232, 0.66);
}

.list-group-item {
    background-color: rgba(255, 155, 232, 0.66);
}