{% extends "grader/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ assignment.name }} grading
{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

{% endblock %}

{% block body %}
    <section class="main">
        <h1 class="logotype">{{ assignment.name }} grading</h1>

            <ul>
            {% for submission in submissions %}
                <li>
                    <a href="submission/{{ submission.id }}"> {{ submission.filename }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>

{% endblock %}