{% extends "grader/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ assignment.name }} grading
{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

{% endblock %}

{% block body %}
    <section class="main">
        <h1 class="logotype">{{ assignment.name }} grading</h1>
        <div class="container stripe">
            <div class="list-group centered-list">
                {% for submission in submissions %}
                    <a href="submission/?path={{ submission }}"
                       class="list-group-item list-group-item-action"> {{ submission }}</a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}