{% extends "grader/base.html" %}
{% load staticfiles %}

{% block title %}
    Grading Home
{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>

{% endblock %}

{% block body %}
    <section class="main">
        <h1 class="logotype">Grading</h1>

        <div class="container-fluid stripe">
            <div class="list-group centered-list">
                {% for assignment in assignments %}
                    <a class="list-group-item list-group-item-action" href="assignments/{{ assignment.id }}">
                        {{ assignment.name }}
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}