{% extends "grader/base.html" %}
{% load staticfiles%}

{% block title %}
Grading Home
{% endblock %}

{% block css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static 'css/index.css' %}" />

{% endblock %}

{%  block body %}
<section class="main">
        <h1 class="logotype">Grading</h1>

    <div class="stripe">
        <ul class="tools">
            {% for assignment in assignments %}
                {{ assignment.name }}
            {% endfor %}
        </ul>
    </div>
</section>

{%  endblock %}