{% extends "grader/base.html" %}
{% load staticfiles %}
{% load grader_extras %}

{% block title %}
{{ assignment.name }} grading
{% endblock %}

{% block css %}
{{ block.super }}

<link rel="stylesheet" href="{% static 'css/index.css' %}"/>

{% endblock %}

{% block body %}
<style type="text/css" media="screen">
    #editor {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>
<section class="main container">
    <h1 class="logotype">{{ assignment.name }} grading</h1>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h4 style="margin-top:7px">Project files</h4>
                <ul class="list-group">
                    {% for file in submission.project_files %}
                    <a href="#" file="{{ file }}" class="filelink list-group-item list-group-item-action"
                       assignment="{{ assignment.id }}"
                       submission="{{ submission.filename }}">
                        {{ file }}
                    </a>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-sm-8">
                <div id="editor" class="container-fluid" style="min-height: 500px"> {{ submission_contents }}</div>

            </div>


        </div>

    </div>


    <div class="container-fluid">
        <h4>Grading</h4>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active" id="additive">
                <input type="radio" name="options" autocomplete="off" checked> Additive
            </label>
            <label class="btn btn-secondary" id="subtractive">
                <input type="radio" name="options" autocomplete="off"> Subtractive
            </label>
        </div>
        <form>
            <div class="card-group">
                {% for section in rubric.rubricsection_set.all %}

                <div class="cardo card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ section.name }}</h5>
                        <ul section="{{ section.name }}" class="card-text">
                            {% for item in section.rubricitem_set.all %}
                            <li>
                                <input class="grade-input" type="text" max-value="{{ item.possible_points }}" value="{{item.possible_points}}"/>
                                /{{ item.possible_points }}: {{ item.text }}
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>

                {% endfor %}
            </div>
        </form>
    </div>

</section>

{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="{% static '/ace-builds/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static '/js/submission.js' %}" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/python");
</script>
{% endblock %}
